Django==1.7.1
Flask==0.10.1
Flask-RESTful==0.3.4
GDAL==1.11.3
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.10.1
aniso8601==1.1.0
appnope==0.1.0
argparse==1.3.0
beautifulsoup4==4.3.2
decorator==4.0.4
geopy==1.11.0
gnureadline==6.3.3
gunicorn==19.3.0
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
nltk==3.0.1
numpy==1.9.1
pandas==0.17.0
path.py==8.1.2
pbr==0.10.8
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
pycountry==1.18
pygame==1.9.2pre
python-dateutil==2.4.2
pytz==2015.6
requests==2.5.0
simplegeneric==0.8.1
six==1.9.0
stevedore==1.4.0
stripe==1.18.0
traitlets==4.0.0
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.5.0
wsgiref==0.1.2
