html, body, div.wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Lucida Grande';
}

div.timeline-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #444;
	z-index: 100;

	ul {
		margin: 0;
		list-style: none;

		li.year {
			float: left;
			padding: 24px 0 23px;
			width: calc(100% / 12);
			text-align: center;
			font-size: 0.7em;
			color: #888;
			cursor: pointer;
		}
		li.year.active {
			background-color: #888;
			color: #444;
		}
		li.year:not(.active):hover {
			background-color: #4c4c4c;
		}
	}
}

div.map-container {
	width: 100%;
	height: 100%;
	background-color: #C0DDFF;

	div#map {
		width: 100%;
		height: 100%;
	}
}