<!DOCTYPE html>
<html>

	<head>
		<title>Jigsaw</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/static/style/normalize.css" />
		<link rel="stylesheet" href="/static/style/main.css" />
	</head>



	<body ng-app="jigsawApp">
		<div class="wrapper">
			<div class="timeline-container" ui-view="timeline"></div>
			<div class="map-container" ui-view="map"></div>
		</div>


		<script src="{{ url_for('static', filename='bower_components/angular/angular.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bower_components/angular-ui-router/release/angular-ui-router.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bower_components/d3/d3.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bower_components/topojson/topojson.js') }}"></script>
		<script src="{{ url_for('static', filename='bower_components/datamaps/dist/datamaps.world.min.js') }}"></script>

		<script src="{{ url_for('static', filename='app/app.module.js') }}"></script>
		<script src="{{ url_for('static', filename='app/app.routes.js') }}"></script>
		<script src="{{ url_for('static', filename='app/modules/timeline/timelineCtrl.js') }}"></script>
		<script src="{{ url_for('static', filename='app/modules/map/mapCtrl.js') }}"></script>
		<script src="{{ url_for('static', filename='app/modules/map/mapFctry.js') }}"></script>
	</body>

</html>